<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teg.analysis.mapper.MenuMapper">
    <resultMap id="menuMap" type="com.teg.analysis.model.DO.MenuDO">
    </resultMap>

    <select id="listMenu" resultType="com.teg.analysis.model.DO.MenuDO">
        select * from menu
    </select>


</mapper>